---
---

@font-face {
    font-family: roboto;
    src: url(/assets/fonts/Roboto-Light.ttf);
    font-display: swap;
}
@font-face {
    font-family: roboto;
    src: url(/assets/fonts/Roboto-LightItalic.ttf);
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: roboto-slab;
    src: url(/assets/fonts/RobotoSlab-Regular.ttf);
    font-display: swap;
}
@font-face {
    font-family: roboto-slab;
    src: url(/assets/fonts/RobotoSlab-Bold.ttf);
    font-weight: bold;
    font-display: swap;
}
/* body start */
body{
  background-color: white;
  color: #2D2427;
  text-align: center;
  font-family: roboto,arial,sans-serif;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  line-height: 27px;
  margin: 0;
}
#body-wrapper{
  max-width: 80%;
  margin: auto;
}
/* body end */

/* text start */
a{
  text-decoration: none;
  color: #CC667D;
}
h1, h2, .heading, a:hover, .selected, #name a{
  color: #994C5E;
}
#contact a{
  color: #2D2427;
}
a img{
  border: none;
}
h1,h2,.heading {
  font-family: roboto-slab,roboto,arial,sans-serif;
  font-size: 38px;
  line-height: 44px;
  font-weight: 400;
}
h2 {
  font-size: 32px;
  line-height: 40px;
}
blockquote {
  font-style: italic;
}
/* text end */

/* header start */
#header{
  background-color: white;
  width: 20%;
  min-width: 220px;
  height: 100%;
  top: 0;
  bottom: 0;
  float: left;
  position: fixed;
  overflow: auto;
  font-family: roboto-slab,roboto,arial,sans-serif;
}
#propic{
  padding-top: 60px;
  width: 160px;
}
#name{
  font-size: 28px;
  font-weight: bold;
}
#nav{
  width: 70%;
  margin: auto;
  text-align: left;
  font-size: 18px;
}
#nav ul{
  margin: 0;
  padding: 0;
  padding-bottom: 28px;
}
#nav ul li{
  list-style-type: none;
  margin: 0 3%;
}
#divider{
  width: 20%;
  min-width:220px;
  height: 100%;
  position: fixed;
  border-right: 1px dashed #CC667D;
  overflow: hidden;
  z-index:-1;
}
/* header end */

/* content start */
#content-wrapper{
  margin-left: max(220px, 20%);
  padding-left: 5%;
  padding-top: 10px;
  padding-bottom: 25px;
}
#content{
  width: min(600px, 75%);
  text-align: left;
  padding: 35px 50px;
}
.desc .title{
  margin-bottom: 10px;
}
.posted-on {
  font-size: 16px;
  color: #2D2427;
  line-height: 22px;
  font-weight: light;
}
.inline-title {
  color: #994C5E;
  font-size: 24px;
  line-height: 32px;
}
.links {
  float:right;
}
.project:first-of-type {
  padding-top: 24px;
}
.project {
  padding-top: 96px;
}
#content p:first-of-type {
  padding-top: 0px;
  margin-top: 0px;
}
/* content end */

/* helper start */
.spacer{
  height: 20px;
}
.hidden{
  display: none;
}
hr {
  border-top: 1px dashed #CC667D;
  border-bottom: none;
}
/* =helper::end */

@media screen and (max-width: 640px) {
 /* text start */
  // a{
  // }
  /* text end */

  /* header start */
  #header{
    width: 100%;
    position: relative;
    overflow: auto;
    border-bottom: 1px dashed #CC667D;
    margin-bottom: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  #header .spacer{
    height: 10px;
  }
  #divider{
    display: none;
  }
  #propic{
    display: none;
  }
  #name{
    display: block;
    width: 100%;
    font-size: 26px;
  }
  #nav{
    width: 90%;
    margin: auto;
    text-align: center;
    font-size: 18px;
    margin-top: 6px;
  }
  #nav ul{
    margin: auto;
    padding: 0;
    float: left;
    width: 50%;
  }
  #nav ul#contact{
    float: right;
    width: 50%;
  }
  #nav ul li{
    text-align: left;
    list-style-type: none;
    margin: 3%;
  }
  #nav ul#contact li{
    float: none;
    margin: 3%;
    width: auto;
  }
  #nav:before,
  #nav:after {
    content: "";
    display: table;
    clear: both;
  }
  /* header end */

  /* content start */
  #content-wrapper{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    margin-left: 0px;
  }
  #content{
    margin-left: 0%;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    padding: 35px 0px;
  }
  .desc .title{
    margin-bottom: 10px;
  }
  .desc > h1 {
    padding-right: 15px;
  }
  .project:first-of-type {
    padding-top: 0px;
  }
  .project {
    padding-top: 25px;
  }
  #content .spacer{
    height: 0px;
  }
  /* content end */
}

@media screen and (min-width:640px) and (max-width: 1024px) {
  /* content start */
  #content{
    margin: none;
    margin-left: 0;
    width: auto;
    min-width: auto;
    max-width: auto;
    padding: 35px 25px;
    padding-right: 60px;
  }
  /* content end */
}

/* Substack stuff */
.captioned-image-container > figure > a > img {
  max-width: 100% !important
}
